<div id="<%= dom_id prompt_template %>">
  <p>
    <strong>Type:</strong>
    <%= prompt_template.prompt_template_type %>
  </p>
  <h1><%= prompt_template.name %></h1>
  <% prompt_template.questions.each do |question| %>
    <%= render "questions/question", question: question %>
  <% end %>
</div>
