<h1>Editing prompt_template</h1>
<%= render "form", prompt_template: @prompt_template %>
<br>
<div>
  <%= link_to "Show this prompt_template", @prompt_template %> |
  <%= link_to "Back to prompt_templates", prompt_templates_path %>
</div>
