<%= link_to "New prompt_template", new_prompt_template_path, class: "btn btn-success" %>
<h1>Templates</h1>
<div id="prompt_templates">
  <% @prompt_templates.each do |prompt_template| %>
    <%= link_to prompt_template.name, prompt_template, class: "prompt-template-link" %> <span class="badge text-bg-secondary"><%= prompt_template.responses.count%></span>
    <hr/>
  <% end %>
</div>
