<div class="single-prompt" id="<%= dom_id prompt %>">
  <%= link_to "Show this prompt", prompt_template_prompt_path(@prompt_template, prompt), class: "btn" if prompt.id %>
  <% prompt.prompt_template.questions.each do |question| %>
    <h4 class="text-truncate"><%= question.display_name %>
      <% question.answers_with(prompt.template_answers[question.id.to_s])&.each do |answer| %>
        <small><%= answer.name %></small>
      <% end %>
    </h4>
  <% end %>
</div>
