<%= link_to "New prompt", new_prompt_template_prompt_path(@prompt_template), class: "btn btn-info" %>
<h1>Prompts for <%= @prompt_template.name %></h1>
<div id="prompts">
  <% @prompt_template.prompts.each do |prompt| %>
    <%= render prompt %>
    <p>
      <%= link_to "Show this prompt", prompt_template_prompt_path(@prompt_template, prompt) %>
    </p>
  <% end %>
</div>
