<div id="<%= dom_id interaction %>">
  <p>
    <strong>Name:</strong>
    <%= interaction.name %>
  </p>
  <p>
    <strong>Type:</strong>
    <%= interaction.interaction_type %>
  </p>
  <p>
    <strong>User:</strong>
    <%= interaction.user_id %>
  </p>
</div>
